.sellHeader{
    text-align: center;
    margin: 0 auto 20px auto;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
    font-weight: 400;
    color: #000;
    font-family: "Roboto",sans-serif;
}
.sellText{
    text-align: center;
    margin: 0 auto 14px auto;
    font-size: 19px;
    line-height: 1.45;
    max-width: 550px;
    color: #6c7884;
    font-weight: 400;
}
.sellNow{
    padding: 50px 0 50px 0;
    background-color: #f8f9fa !important;
}