.sellHeader{
    text-align: center;
    margin: 0 auto 20px auto;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
    font-weight: 400;
    color: #000;
    font-family: "Roboto",sans-serif;
}
.sellText{
    text-align: center;
    margin: 0 auto 14px auto;
    font-size: 19px;
    line-height: 1.45;
    max-width: 550px;
    color: #6c7884;
    font-weight: 400;
}
.sellNow{
    padding: 50px 0 50px 0;
    background-color: #f8f9fa !important;
}

.testList{
    border: solid 1px #c4c4c4;
    border-radius: 2px;
    margin: 10px;
}
.centerDiv{
    margin: auto;
    width:50%;
}
.listingsText{
    margin: 0;
    text-align: right;
    color:black;
}
.listingsText1{
    text-align: right;
    color:black;
    margin-bottom: 5px;
    line-height: 1.2;
}
.listing-head{
    color:dimgray;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
}
.listingsTextAsking{
    margin: 0;
    text-align: right;
    color:dimgray;
    font-size: 80%;
    font-weight: 400;
    line-height: 1.2;
}
.listingsPrice{
    font-size: 25px;
    text-align: right;
    line-height: 1.2;
    font-weight: 500;
}
.forsale{
    display: inline-block;
    margin: 5px 0 0 0px;
    background-color: #e80013;
    padding: 3px 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    float:left;
    text-align: left;
}
.testimg{
    height:100px;
    width:195px;
}
.addbox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    width: 100%;
    height:auto;
    background-color:ghostwhite;

}
.floatLeft{
    float:left;
}
.tleft{
    text-align: left;
}
.addLabel{
    font-weight: 500;
}
.addlistbg{
    min-height:100vh;
    background-image: url('../img/vertback.png');
    filter:grayscale(50%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}